<div class="feature-idea-column" *ngFor="let column of columns">
    <h2>{{column}}</h2>
    <button class="btn btn-primary" *ngIf="column === 'Feature Ideas'" (click)="openFeatureIdeaModal()">New Feature Idea</button>
    <div class="feature-idea-card" *ngFor="let featureIdea of featureIdeasFiltered[column] | async; trackBy: featureIdeaTrackBy">{{featureIdea.Entry.title}}</div>
</div>



<ng-template #featureIdeaModalTemplate>
    <div class="modal-header">
        <input class="h4 featureIdeaTitle" #featureIdeaNameField [(ngModel)]="modalFeatureIdea.title" placeholder="New Feature Idea">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="modalFeatureIdea.description"></textarea>
        <button class="btn btn-primary" (click)="createFeatureIdeaModal();">Create</button>
    </div>
</ng-template>