<div class="columns-container">
    <div class="feature-idea-column" *ngFor="let column of columns">
        <h2 class="h5 feature-idea-column-heading">{{column}}</h2>
        <button class="btn btn-primary d-block w-100" *ngIf="column === 'Feature Ideas'" (click)="openFeatureIdeaModal()">+ New Feature Idea</button>
        <div class="feature-idea-card" *ngFor="let featureIdea of featureIdeasFiltered[column] | async; trackBy: featureIdeaTrackBy"
            (click)="openFeatureIdeaModal(featureIdea)">
            {{featureIdea.Entry.title}}
        </div>
    </div>
</div>


<ng-template #featureIdeaModalTemplate>
    <div class="modal-header">
        <input [readonly]="modalFeatureIdea.creator ? true : null" class="h4 featureIdeaTitle" #featureIdeaModalNameField [(ngModel)]="modalFeatureIdea.title" placeholder="Enter a short title for your idea">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" (load)="featureIdeaModalNameField.focus()">
        <button type="button" class="close pull-right" aria-label="Close" tabindex="1" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea [readonly]="modalFeatureIdea.creator ? true : null" class="form-control mb-3" placeholder="Description" [(ngModel)]="modalFeatureIdea.description"></textarea>
        <button *ngIf="!modalFeatureIdea.creator" class="btn btn-primary" (click)="createFeatureIdeaModal();">Create</button>
        <div class="feature-voting-layout" *ngIf="modalFeatureIdea.creator">
            <button class="btn btn-primary vote-button" (click)="voteClick.next($event)">
                <svg class="vote-button-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/></svg>
                &nbsp;Vote
            </button>
            <span class="my-votes-on-feature">+1</span>
            <span class="total-votes-on-feature">Votes: 254</span>
        </div>
    </div>
</ng-template>