.featureIdeaTitle {
    border: none;
    outline: none !important;
    width: 100%;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.bounce {
    animation-name: bounce;
	animation-duration: 1s;
}

.feature-voting-layout {
    display: flex;
    align-items: center;
}

.my-votes-on-feature {
    margin-left: 1rem;
}

.total-votes-on-feature {
    margin-left: auto;
}

.feature-idea-column {
    background-color: #dddddd;
    margin: 0.5rem;
    flex: 1 1 0;
}

.columns-container {
    display: flex;
    margin: 0.5rem;
}

.feature-idea-column-heading {
    text-align: center;
    margin: 0.5rem 0;
}